/*======================
HEADER
=======================*/

.header {
  display: flex;
  align-items: center;
  height: 225px;
  margin-bottom: 70px;
}

.header-logo-phone-cab {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.header-logo {
  border-radius: 12px;
}

.header-logo-phone {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.header-phone {
  padding-left: 20px;
  color: #666666;
  font-size: 22px;
  line-height: 32px;
}

.header-phone:hover {
  transition: color .25s ease-in-out;
  color: #333333;
}

.header-user-cab {
  display: flex;
}

.header-user-link {
  text-align: right;
  min-width: 150px;
  font-size: 16px;
  background-image: url(../img/keyboard_tab.svg);
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: contain;
  color: #cc9933;
  transition: background-position .5s ease-in-out, color .5s ease-in-out;
}

.header-user-link:hover {
  transition: background-position .5s ease-in-out, color .5s ease-in-out;
  background-position: 500%;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-nav-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #ffffff;
  border-radius: 12px;
 }

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-link {
  font-size: 16px;
  color: #333333;
  transition: color .5s ease-in-out;
}

.header-nav-link:hover {
  color: var(--color);
}

.header-nav-item:first-child {
  padding-left: 25px;
}

.header-nav-item:not(:last-child) {
  padding-right: 40px;
}

.header-search-form {
  width: 300px;
  height: 70px;
  border: none;
  line-height: 32px;
  border-radius: 15px;
  background: none;
  background-color: none;
}

.header-search-form::placeholder {
  color: #bebebe;
  font-size: 14px;
  font-weight: 400;
}

.header-search-btn {
  margin-right: 40px;
  padding-bottom: 7px;
  background-image: url("../img/Searchicon.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  border: none;
  background-color: none;
}
